.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.active {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  background: #000000;
  border-radius: 20px;
  border: 1px solid #ffffff;
  padding: 4.5rem 8.94rem 10.75rem 8.94rem;
  width: 100%;
  max-width: 760px;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup-overlay.active .popup-content {
  transform: translateY(0);
  opacity: 1;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  padding: 0;
  line-height: 1;
}

.popup-close:hover {
  color: #919191;
}

.popup-title {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 32px;
  font-family: 'Montserrat-Medium';
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-form-group label {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Montserrat-Medium';
}

.popup-form-group input {
  padding: 14px 16px;
  border: 2px solid #f8f8fa;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s;
  font-family: 'Montserrat-Medium';
}

.popup-form-group input::placeholder {
  color: #999;
  opacity: 1;
}

.popup-forgot-link {
  color: #ffffff;
  text-decoration: underline;
  font-size: 20px;
  transition: color 0.2s;
  font-family: 'Montserrat-Medium';
}

.popup-submit {
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  padding: 16px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 9.125rem;
  font-family: 'Montserrat-Medium';
}

.popup-submit:active {
  transform: translateY(0);
}

.popup-switch {
  text-align: center;
}

.popup-switch-text {
  display: block;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: 'Montserrat-Medium';
}

.popup-switch-btn {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #ffffff;
  padding: 15px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Montserrat-Medium';
  width: 100%;
}