.input-field__input {
  width: 100%;
  padding: 1.75rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  font-size: 25px;
  color: #ffffff;
  transition: all 0.2s ease;
  box-sizing: border-box;
  min-height: 48px;
  font-family: 'Montserrat-Regular';
}

.input-field__input:focus {
  outline: none;
  border-color: #ffffff;
}

.input-field__input::placeholder {
  color: #ffffff;
  font-size: 25px;
}

.input-field__input:disabled {
  cursor: not-allowed;
}

.input-field.error .input-field__input {
  border-color: #ff3b30;
}

.input-field__error {
  color: #ff3b30;
  font-size: 20px;
  margin-top: 0.625rem;
  font-family: 'Montserrat-Regular';
}