.container{
    padding: 5.4rem 3.25rem 4.75rem 3.25rem;
}

.title{
    text-align: center;
    font-family: 'Benzin';
}

.title h2{
    font-size: 96px;
}

.columns{
    display: flex;
    gap: 8.25rem;
    margin-top: 5.44rem;
}

.column__title{
    font-family: 'Benzin';
    font-size: 48px;
    margin-bottom: 1.625rem;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0; 
}

.column__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.auto-image {
    margin-top: 7.375rem;
}

.column__forms{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.column a{
    color: #ffffff;
    font-family: 'Montserrat-Regular';
    font-size: 25px;
    text-decoration: underline;
}

.column__automobile a{
    margin-top: 4.375rem;
}

.column__dealer a{
    margin-top: 2rem;
    text-align: right;
}

.personal-data{
    margin-top: 2rem;
    width: 70%;
    margin-bottom: 1.32rem;
}

.column__button .button{
    padding: 2rem 3.25rem;
    width: 100%;
    font-size: 25px;
}
