.big-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: 'Benzin';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding: 3.625rem 0 3.625rem 2rem;
    width: 100%;
    transition: all 0.3s ease;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.big-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.big-button__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-button__icon-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big-button__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}

.big-button__text {
    font-size: 30px;
}

.big-button__description {
    font-size: 22px;
    font-family: 'Montserrat-Regular';
}

.big-button.no-icon .big-button__content {
    align-items: center;
}
