.button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1rem 3rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
}

@media (max-width: 1200px){
    .button{
        font-size: 18.75px;
        padding: 0rem 2rem;
        border-radius: 12.5px;
    }
}

@media (max-width: 960px){
    .button{
        font-size: 15px;
        padding: 0rem 1.67rem;
        border-radius: 10px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px){
    .button{
        font-size: 40px;
        padding: 1.375rem 4.56rem;
        border-radius: 26.67px;
    }
}